// Variables
$grey-500: #4d4f62;
$grey-400: #6a7178;
$white: #ffffff;
$red: #ea5454;
$cyan: #44d3d2;
$blue: #549ef2;
$orange: #fcae4a;

body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.text-preset-1 {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 600;
}
.text-preset-2 {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 200;
}
.text-preset-3 {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
}
.text-preset-4 {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
}
.text-preset-5 {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 400;
}
section.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  min-height: 100svh;
  padding: 56px 16px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 316px;
  text-align: center;
}
h1, h2, p {
  margin: 0;
}
.title {
  color: $grey-500;
}
.description {
  color: $grey-500;
}

.card-grid {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  gap: 32px;
  justify-items: center;
  align-items: center;
}

.duo-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px #83A6D299;
  overflow: hidden;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 250px;

  & .card-title {
    color: $grey-500;
  }

  & .card-detail {
    color: $grey-400;
  }
}

.card .card-icon {
  align-self: flex-end;
}
.card-band {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 0;

  .card.cyan & {
    border-top-color: $cyan;
  }
  .card.red & {
    border-top-color: $red;
  }
  .card.orange & {
    border-top-color: $orange;
  }
  .card.blue & {
    border-top-color: $blue;
  }
}

@media screen and (min-width: 768px) {
  section.container {
    padding: 80px 16px;
  }
  .about {
    width: 540px;
  }
  .text-preset-1 {
    font-size: 36px;
  }
  .text-preset-2 {
    font-size: 36px;
  }
  .duo-cards {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  section.container {
    padding: 102px 16px;
  }
  .card-grid {
    grid-auto-flow: column;
  }
  .duo-cards {
    flex-direction: column;
  }
}
